<div style="text-align: center;">
  <h1>Register Page</h1>
  
    <label for="Name">Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input id="Name" [(ngModel)]="name"/>
  <br><br>
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="password"/>
    <br><br>
    <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input id="email" [(ngModel)]="email"/>
    <br><br>
    <label for="city">City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input id="city" [(ngModel)]="city"/>
    <br><br>
    <label for="country">Country:&nbsp;&nbsp;</label>
    <input id="country" [(ngModel)]="country"/>
    <br><br>
  
    <button (click)="displayinfo()">Submit</button>
  
    <div [hidden]="Text1" [ngStyle]="mycss">
  
    <h1>Welcome</h1>  
  
    <h2>Name:</h2>
    {{name}}
  
    <h2>Password:</h2>
    {{password}}
  
    <h2>Email:</h2>
    {{email}}
  
    <h2>City:</h2>
    {{city}}
  
    <h2>Country:</h2>
    {{country}}
  </div>
  
  </div>
  
  <h1>Radio Button</h1>
  <input type="radio" (click) = "displayText($event)">press
  
  <p [hidden]="Text">Welcome</p>
  
  <h1>Display Input Boxes</h1>
  
  <button (click)="InputBox()">Press</button>
  
  <input type="text" [hidden]="Text2">
  
  <input type="text" [hidden]="Text2">
  
  <input type="text" [hidden]="Text2">
  